<a href="https://colab.research.google.com/github/Lydia-HMLin118/chihlee_110_IMS/blob/main/week_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 文字檔的讀取與寫入

Python對檔案的控制，也設計的相當完善，透過 **open、close、read、write** 就可以控制檔案的讀取與寫入，除此之外，Python也有提供 **readline、readlines** 去依照行數進行檔案的讀取，以下將分別介紹檔案的函數用法。

#方法一:自行上傳檔案


```
from google.colab import files
import pandas as pd
＃由輸入彈跳視窗，上載電腦端的檔案
upload = files.upload()
pd.read_csv("檔名")

```


#方法二:透過Google Drive開啟檔案

```
from google.colab import drives
import pandas as pd

# 此處需要登入google帳號
drive.mount('/content/drive') 

# 獲取授權碼之後輸入即可連動雲端硬碟
data2 = pd.read_csv("/content/drive/MyDrive/檔案路徑及檔名")

```

In [ ]:
#方法一:自行上傳檔案　import files

#匯入套件
from google.colab import files
import pandas as pd
upload = files.upload()
print (type(upload))
data1 = pd.read_csv("MuseLog.txt")
print ("#data1 START#")
print (data1)
print (type(data1))
print ("#data1 END#")


#方法二:透過Google Drive開啟檔案　import drive

#匯入套件
from google.colab import drive
import pandas as pd

# 此處需要登入google帳號
drive.mount('/content/drive') 

# 獲取授權碼之後輸入即可連動雲端硬碟
data2 = pd.read_csv("/content/drive/MyDrive/致理-1101資三A-智慧投資程式設計/Colab Notebooks/給同學的教材/data/test.txt")


print ("#data2 START#")
print (data2)
print (type(data2))
print ("#data2 END#")

Saving MuseLog.txt to MuseLog (1).txt
<class 'dict'>
#data1 START#
  Logging in build 2018.0.0.685 started at: Wed Aug  5 11:02:23 2020
0           ========================================
1  [00:00:04.766] 11:02:31.041 | Error - IMS : No...
2  [00:00:15.110] 11:02:41.380 | quitWithUI:Quitt...
3  [00:00:15.110] 11:02:41.382 | Quitting Applica...
4           [00:00:16.969] Logging shutdown normally
5                                         ==========
6         Logging ended at: Wed Aug  5 11:02:43 2020
<class 'pandas.core.frame.DataFrame'>
#data1 END#
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
#data2 START#
      HELLO   This is a test.
0  end. bye               NaN
<class 'pandas.core.frame.DataFrame'>
#data2 END#

#寫入檔案
與原生的python使用的所有寫入方法都相同，以下示範最重要的模型參數讀寫


使用 Pickle 模組保存資料（持久化數據）

pickle 在 Python 中是相當相當有名的，它的運作方法跟 Json 有點像，都是可以壓縮資料、保存、並且隨時隨地解開我們儲存好的資料，還原Python的工作階段。

由於它是專門為 Python 而生的、而非像 Json 那般是『輕量級的資料儲存格式』，故若是需要跨語言進行開發時，pickle 這種儲存資料的格式可能就不太適合，不過若只是要進行 Python 專案的開發，那麼 pickle 可是非常非常方便的！

In [ ]:
## 模型參數存檔
import pickle
pkl_filename = "/content/drive/MyDrive/致理-1101資三A-智慧投資程式設計/Colab Notebooks/給同學的教材/data/model.pkl"  

my_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
}
with open(pkl_filename, 'wb') as file:  
    pickle.dump(my_dict, file)


print (type(file))

<class '_io.BufferedWriter'>

# open－取用檔案

python提供的open內建函數，可以直接對檔案進行取用，並且設定適當的權限，就可以對檔案進行讀寫，讀取及寫入在後面會介紹到。 取用檔案介紹如下：

# Pandas 介紹
Pandas 是 python 的一個數據分析 lib，2009 年底開源出來，提供高效能、簡易使用的資料格式(Data Frame)讓使用者可以快速操作及分析資料，主要特色描述如下：



1.   在異質數據的讀取、轉換和處理上，都讓分析人員更容易處理，例如：從列欄試算表中找到想要的值。
2.   Pandas 提供兩種主要的資料結構，Series 與 DataFrame。**Series** 顧名思義就是用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列。**DataFrame** 則是用來處理結構化(Table like)的資料，有列索引與欄標籤的二維資料集，例如關聯式資料庫、CSV 等等。

3.   透過載入至 Pandas 的資料結構物件後，可以透過結構化物件所提供的方法，來快速地進行資料的前處理，如資料補值，空值去除或取代等。
4.   更多的輸入來源及輸出整合性，例如：可以從資料庫讀取資料進入 Dataframe，也可將處理完的資料存回資料庫。


＃安裝 Pandas

Python 安裝方式一樣都是透過 pip install 即可完成安裝，語法如下：

`pip install pandas`

# Pandas 讀取資料
可以從異質資料來源讀取檔案內容，並將資料放入 DataFrame 中，進行資料查看、資料篩選、資料切片等運算。

```
# 讀取 CSV File
import pandas as pd # 引用套件並縮寫為 pd  
df = pd.read_csv('student_list.csv')  
print(df)  
```

In [4]:
#　透過Google Drive開啟檔案 import drive

#匯入套件
from google.colab import drive
#引用套件並縮寫為 pd 
import pandas as pd   

# 此處需要登入google帳號
drive.mount('/content/drive') 
# 獲取授權碼之後輸入即可連動雲端硬碟

data3 = pd.read_csv('/content/drive/MyDrive/致理-1101資三A-智慧投資程式設計/Colab Notebooks/給同學的教材/data/ExchangeRate@202111041121.csv')  

print ("#data3 START#")
print (data3)
print (type(data3))
print ("#data3 END#")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
#data2 START#
      HELLO   This is a test.
0  end. bye               NaN
<class 'pandas.core.frame.DataFrame'>
#data2 END#
#data3 START#
    Currency      Rate  ...  Forward-150Days.1  Forward-180Days.1
USD   Buying  27.44000  ...            27.8810                NaN
HKD   Buying   3.42100  ...             3.6080                NaN
GBP   Buying  36.84000  ...            38.2080                NaN
AUD   Buying  20.36000  ...            20.8450                NaN
CAD   Buying  21.97000  ...            22.5530                NaN
SGD   Buying  20.07000  ...            20.7250                NaN
CHF   Buying  29.70000  ...            30.7880                NaN
JPY   Buying   0.23450  ...             0.2464                NaN
ZAR   Buying   0.00000  ...             1.8210                NaN
SEK   Buying   2.88000  ...             3.3270                NaN
NZD   Buying  19.45000  ...            19.9510                NaN
THB   Buying   0.70760  ...             0.0000                NaN
PHP   Buying   0.47670  ...             0.0000                NaN
IDR   Buying   0.00163  ...             0.0000                NaN
EUR   Buying  31.48000  ...            32.6600                NaN
KRW   Buying   0.02186  ...             0.0000                NaN
VND   Buying   0.00100  ...             0.0000                NaN
MYR   Buying   5.69100  ...             0.0000                NaN
CNY   Buying   4.25800  ...             4.3256                NaN

[19 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
#data3 END#

#Pandas 提供的資料結構

1. **Series：**用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列。
2. **DataFrame：**用來處理結構化(Table like)的資料，有列索引與欄標籤的二維資料集，例如關聯式資料庫、CSV 等等。
3. **Panel：**用來處理有資料及索引、列索引與欄標籤的三維資料集。

#1.Series
1.1 建立 Series

資料可以的類型如下：

1. array
2. dictionary
3. 單一資料

```
import pandas as pd # 引用套件並縮寫為 pd
select = pd.Series(data, index = idx) #將資料讀入 series 方法中
```

# 資料為 Array

```
import pandas as pd  # 引用套件並縮寫為 pd
cars = ["BMW", "BENZ", "Toyota", "Nissan", "Lexus"]
select = pd.Series(cars)  
print(select)
```

In [7]:
import pandas as pd  # 引用套件並縮寫為 pd
cars = ["BMW", "BENZ", "Toyota", "Nissan", "Lexus"]
select = pd.Series(cars) 
print (select) 
print(type(select))

0       BMW
1      BENZ
2    Toyota
3    Nissan
4     Lexus
dtype: object
<class 'pandas.core.series.Series'>

# 資料為 Dictionary

In [8]:
import pandas as pd

dict = {  
    "factory": "Taipei",
    "sensor1": "1",
    "sensor2": "2",
    "sensor3": "3",
    "sensor4": "4",
    "sensor5": "5"
}

select = pd.Series(dict, index = dict.keys()) # 排序與原 dict 相同  
print(select[0])  
print("=====")  
print(select['sensor1'])  
print("=====")  
print(select[[0, 2, 4]])  
print("=====")  
print(select[['factory', 'sensor1', 'sensor3']])

Taipei
=====
1
=====
factory    Taipei
sensor2         2
sensor4         4
dtype: object
=====
factory    Taipei
sensor1         1
sensor3         3
dtype: object

# 資料為單一資料

In [9]:
import pandas as pd

cars = "BENZ"  
select = pd.Series(cars, index = range(3))  
print(select)

0    BENZ
1    BENZ
2    BENZ
dtype: object

# 1.2 Series 的操作

❖ 資料選擇與篩選
可以針對 dict 或是 array 資料透過透過索引值或標籤，挑選出你所要的值。

In [10]:
import pandas as pd

dict = {  
    "factory": "Taipei",
    "sensor1": "1",
    "sensor2": "2",
    "sensor3": "3",
    "sensor4": "4",
    "sensor5": "5"
}

select = pd.Series(dict, index = dict.keys()) # 排序與原 dict 相同  
print(select[0])  
print("=====")  
print(select['sensor1'])  
print("=====")  
print(select[[0, 2, 4]])  
print("=====")  
print(select[['factory', 'sensor1', 'sensor3']])

Taipei
=====
1
=====
factory    Taipei
sensor2         2
sensor4         4
dtype: object
=====
factory    Taipei
sensor1         1
sensor3         3
dtype: object

# 資料切片
透過透過索引值或標籤，切割需要的值。

In [11]:
import pandas as pd

dict = {  
    "factory": "Taipei",
    "sensor1": "1",
    "sensor2": "2",
    "sensor3": "3",
    "sensor4": "4",
    "sensor5": "5"
}

select = pd.Series(dict, index = dict.keys()) # 排序與原 dict 相同  
print(select[:2])  
print("=====")  
print(select['sensor2':])

factory    Taipei
sensor1         1
dtype: object
=====
sensor2    2
sensor3    3
sensor4    4
sensor5    5
dtype: object

#  2.DataFrame
## 2.1 建立 DataFrame
DataFrame 用來處理結構化(Table like)的資料，有列索引與欄標籤的二維資料集，可以透過 Dictionary 或是 Array 來建立，但也可以利用外部的資料來讀取後來建立，例如： CSV 檔案、資料庫等等。

下列範例會介紹利用 Dictionary 或是 Array 來建立，並使用 DataFrame 的方法來操作資料查看、資料篩選、資料切片、資料排序等運算。

❖ 資料為 Dictionary

In [12]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
       }

select_df = pd.DataFrame(dict)

print(select_df) # 看看資料框的外觀

    groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58

# 資料為 Array

In [13]:
import pandas as pd

arr = groups = [["Movies", 46],["Sports", 8], ["Coding", 12], ["Fishing",12], ["Dancing",6], ["cooking",8]]

df = pd.DataFrame(arr, columns = ["name", "num"]) # 指定欄標籤名稱  
print(df)

      name  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking    8

# 2.2 DataFrame 的操作
❖ 資料描述查看
可以透過下列方法查看目前資料的資訊

**.shape**

**.describe()**

**.head()**

**.tail()**

**.columns**

**.index**

**.info()**

In [14]:
# Pandas 的 data frame 資料結構有一些方法或屬性

import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

print(select_df.shape) # 回傳列數與欄數  
print("---")  
print(select_df.describe()) # 回傳描述性統計  
print("---")  
print(select_df.head(3)) # 回傳前三筆觀測值  
print("---")  
print(select_df.tail(3)) # 回傳後三筆觀測值  
print("---")  
print(select_df.columns) # 回傳欄位名稱  
print("---")  
print(select_df.index) # 回傳 index  
print("---")  
print(select_df.info) # 回傳資料內容

(6, 2)
---
             num
count   6.000000
mean   23.666667
std    22.393451
min     6.000000
25%     9.000000
50%    12.000000
75%    37.500000
max    58.000000
---
   groups  num
0  Movies   46
1  Sports    8
2  Coding   12
---
    groups  num
3  Fishing   12
4  Dancing    6
5  cooking   58
---
Index(['groups', 'num'], dtype='object')
---
RangeIndex(start=0, stop=6, step=1)
---
<bound method DataFrame.info of     groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58>

# 資料選擇與篩選
可以透過下列方法選擇元素

*   中括號 [] 選擇元素
*   將變數當作屬性選擇
*   .loc .iloc 方法選擇
*   使用布林值篩選

In [17]:
# Pandas 透過使用中括號 [] 與 .iloc 可以很靈活地從 data frame 中選擇想要的元素
# Python 在指定 0:1 時不包含 1，在指定 0:2 時不包含 2

import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
       }

select_df = pd.DataFrame(dict)

print(select_df.iloc[0, 1]) # 第一列第二欄：組的人數  
print("-第一列：組的組名與人數--")  
print(select_df.iloc[0:1,:]) # 第一列：組的組名與人數  
print("-第二欄：各組的人數--")  
print(select_df.iloc[:,1]) # 第二欄：各組的人數  
print("-各組的人數-（用list[]取值）-")  
print(select_df["num"]) # 各組的人數  
print("-各組的人數-（用方法取值）-")  
print(select_df.num) # 各組的人數

46
-第一列：組的組名與人數--
   groups  num
0  Movies   46
-第二欄：各組的人數--
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64
-各組的人數-（用list[]取值）-
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64
-各組的人數-（用方法取值）-
0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64

# 使用布林值來做篩選

In [18]:
import pandas as pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }

select_df = pd.DataFrame(dict)

out_df = select_df[select_df.loc[:,"num"] > 10] # 選出人數超過 10 的群組  
print(out_df)

    groups  num
0   Movies   46
2   Coding   12
3  Fishing   12
5  cooking   58

❖ 資料排序
可以使用的方法如下：



*   .sort_index()
*   .sort_values()

In [26]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "Cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

select_df.sort_index(axis = 0, ascending = True) # 透過索引值做排序，axis 可以指定第幾欄，ascending 用於設定升冪(ascending)或降密(decending)

    groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  Cooking   58

In [23]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

dict = {"groups": groups,  
        "num": num
        }


select_df = pd.DataFrame(dict)

select_df.sort_values(by = 'num') #透過指定欄位的數值排序

    groups  num
4  Dancing    6
1   Sports    8
2   Coding   12
3  Fishing   12
0   Movies   46
5  cooking   58

# 2.3 DataFrame 處理遺漏值
❖ 判斷是否為空值
可以使用下列兩種方法來判斷：

*   isnull()
*   notnull()

下列程式我們先讀取一個 CSV 檔案，檔案內的欄位部分會有空值，檔案連結 大家可以自行下載

In [41]:
from google.colab import drive
import pandas as pd   
drive.mount('/content/drive') 

# 引用套件並縮寫為 pd 
# 讀取 CSV File
data4 = pd.read_csv('/content/drive/MyDrive/致理-1101資三A-智慧投資程式設計/Colab Notebooks/給同學的教材/data/shop_list2.csv')  

# 讀取後放入 DataFrame
select_df = pd.DataFrame(data4)

print(select_df.loc[:, "shop name"].isnull()) # 判斷哪些店名是遺失值  
print("---")  
print(select_df.loc[:, "maket size"].notnull()) # 判斷哪些市場規模不是遺失值

# 可以透過 ix 方法（利用索引值或欄位）選擇 data frame 區段

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
0    False
1    False
2     True
3    False
4    False
Name: shop name, dtype: bool
---
0     True
1     True
2     True
3     True
4    False
Name: maket size, dtype: bool

# 處理空值
可以使用下列兩種方法來填補空值：

*   dropna()
*   fillna()

#使用注意事項

#時間限制
Colab在記事本閒置過久的時候會主動中斷連結，這時候已執行的結果都會被清空，請注意 存檔 以及 另存需要長時間訓練的模型參數資料。

#記憶體容量
當使用到大量的記憶體空間的時候，colab有可能會因為記憶體不足而導致崩潰(kernel died)，這時候也會導致所有的已執行的結果被清空，請切記 存檔。

In [42]:
from google.colab import drive
import pandas as pd   
drive.mount('/content/drive') 

# 引用套件並縮寫為 pd 
# 讀取 CSV File
data4 = pd.read_csv('/content/drive/MyDrive/致理-1101資三A-智慧投資程式設計/Colab Notebooks/給同學的教材/data/shop_list2.csv')  
print(df)

# 讀取後放入 DataFrame
select_df = pd.DataFrame(df)

drop_value = select_df.dropna() # 有遺失值的觀測值都刪除  
print(drop_value)  
print("---")  
filled_value = select_df.fillna(0) # 有遺失值的觀測值填補 0  
print(filled_value)  
print("---")  
filled_value_column = select_df.fillna({"shop name": "NULL", "maket size": 0}) # 依欄位填補遺失值  
print(filled_value_column)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
      name  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking    8
      name  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking    8
---
      name  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking    8
---
      name  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking    8